<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/styleCliente.css') }}>

    <script>
        const cliente_url = {{ url_for('cliente_get')|tojson }};
    </script>
</head>
<body>
    
    <form class="client-form">
        <h2>Crear cliente</h2>
        <p>
            <label for="tipo_doc">Tipo de documento:</label>
            <select id="tipo_doc" name="tipo_doc" required>
                <option value="chilena">Cédula Chilena</option>
                <option value="mercosur">Documento Mercosur</option>
                <option value="pasaporte">Pasaporte</option>
            </select>
        </p>
        <p>
            <label for="nro_doc">Número de documento:</label>
            <input type="text" id="nro_doc" name="nro_doc" required>
        </p>
        <p>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </p>
        <p>
            <label for="nacionalidad">Nacionalidad:</label>
            <input type="text" id="nacionalidad" name="nacionalidad" required>
        </p>
        <p>
            <label for="correo">Correo:</label>
            <input type="text" id="correo" name="correo" required>
        </p>
        <p>
            <label for="telefono">Telefono:</label>
            <input type="tel" id="telefono" name="telefono" required>
        </p>
        
        <button>Enviar</button>
    </form>

    <script src={{ url_for('static', filename='js/cliente.js') }}></script>
</body>
</html>
